.{
    margin: 0%;
    padding: 0;
    font-family: sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(well.JPG);
}

hi{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(well.JPG);
    height: 100px;
    background-size: cover;
    background-position: center;
    min-height: 100px;

}